html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

html {
  font-size: calc(62.5% * 0.62);
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Everett";
  src: local("Everett"),
    url("/fonts/TWKEverett-Regular-web.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Everett";
  src: local("Everett"),
    url("/fonts/TWKEverett-Medium-web.woff") format("woff");
  font-weight: medium;
}

